<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.calvin.cs262teamd.cleaningcrew">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".EmployeeContactsActivity" />
        <activity android:name=".UserInfoActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AdminMainActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".NewEmployeeActivity"/>
    </application>

</manifest>